html(lang="es")
	head
		title Examen
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(rel="stylesheet",href="css/font-awesome.min.css")
		link(rel="stylesheet",href="css/bootstrap.min.css")
		link(rel="stylesheet",href="css/stiles.css")
		script(src="js/jquery-1.12.3.min.js")
		script(src="js/bootstrap.min.js")
	body
		.header
			.container
				.row
					.col-sm-col6
						p.pull-left Defaul Welcome Msg! 
					.col-sm-col6
						ul.pull-right.nav.navbar-nav
							li
								a(href="#") Lenguage
							li
								a(href="#") Currency
							li
								a(href="#") My Account
		.sub-header
			.container
				.col-sm-4
					i.fa.fa-clock-o.pull-left
					p OPWING TIME
					small 9 00 AM
				.col-sm-4
					img(src="images/logo.png")
				.col-sm-4
					.input-group
						input.form-control(type="text" placeholder="Search")
						span.input-group-btn
							button.btn.fa.fa-search(type="button")
		.menu
			.container
				.row
					.col-sm-6
						ul.nav.navbar-nav
							li
								a(href="#") HOME
							li
								a(href="#") CONTACTUS
					.col-sm-6
						.carrito.pull-right
							i.fa.fa-shopping-cart
							p MY CART
							small 2 item! $24400
				.row
					.raton
						.col-sm-6.rojo
							p contactanos
						.col-sm-6
							p adress: san martin 344
				.row
					.col-sm-6
						img(src="images/mapis.jpg")
					.col-sm-6
						.row 
							.col-sm-6.azul first name
							.col-sm-6.azul last name
						.row
							.col-sm-6.azul correo
							.col-sm-6.azul  facebook
						.row 
							.col-sm-12.grande subjet
						.row 
							.col-sm-12.grande message
		.footer
			.container
				.row
					.col-sm-3 
						p accesorios
						small dnjfdjnccjcmcncdjcdjcdj
					.col-sm-2 
						p my account 
						ul
							li my account
							li order history
							li whist list
							li newsleetter
					.col-sm-2
						p information
						ul
							li about us
							li delivery
							li privace
							li police

					.col-sm-2
						p extras
						ul
							li brands
							li gifth
							li afiles
							li social
					.col-sm-3
						p about us 
						ul 
							li adrres
							li cell-phone





			
		
		
					




